* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background-color: #f1f9f5;
}

.header{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    gap: 8px;
    margin-top: 10px;
    box-sizing: content-box;
    border-bottom: #aeaeae solid 1px;
}

.header h4{
    color:grey;
    font-size: medium;
    font-weight: normal;
}

.title {
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: xx-large;
}
.title span {
    display: flex;
    flex-direction: column;
    color:#48c379;
}

.title h3 {
    color: grey;
    font-size: 25px;
    font-weight: normal;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .cont-operation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: rgb(170, 170, 170) solid 1px;
    padding: 20px;
    border-radius: 20px;
    width: 75%;
    margin-bottom: 30px;
    box-shadow: 7px 8px 7px 0px rgba(194,194,194,1);
 }

 .operation {
    width: fit-content;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    font-size: large
 }

  .operation h2{
    color: #48c379;
 }

.operations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    margin: 4px;
    gap: 10px;
}

.box-op {
    background-color: #f1f9f5;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    width: 100%;
}

.characteristics {
    background-color: #d3f4e3;
    border-left: #93a89d solid 4px;
    list-style-type:none;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    border-radius: 10px;
}

.characteristics ul {
    list-style-type:none;
    padding: 5px;
}

.characteristics li{
    padding: 3px;
}

.characteristics h4{
    padding: 5px;
    font-size: large;
}

.cont-technologie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: rgb(170, 170, 170) solid 1px;
    padding: 20px;
    border-radius: 20px;
    width: 75%;
    margin-bottom: 30px;
    box-shadow: 7px 8px 7px 0px rgba(194,194,194,1);
 }

 .technologie {
    width: fit-content;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    font-size: large
 }

  .technologie h2{
    color: #48c379;
 }
 
.technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    margin: 4px;
    gap: 10px;
}

.box-techno {
    background-color: #f1f9f5;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    width: 100%;
}

.stack-tecnic {
    list-style-type:none;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    border-radius: 10px;
}

.stack-tecnic ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch;
    list-style-type:none;
    padding: 5px;
}

.stack-tecnic li{
    background-color: #d3f4e3;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    font-size: large;
    color: #808080;
}

.cont-future {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: rgb(170, 170, 170) solid 1px;
    padding: 20px;
    border-radius: 20px;
    width: 75%;
    margin-bottom: 30px;
    box-shadow: 7px 8px 7px 0px rgba(194,194,194,1);
 }

 .future {
    width: fit-content;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    font-size: large
 }
 
 .future h2{
    color: #48c379;
 }

.futures {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 4px;
    gap: 10px;
}

.box-future {
    background-color: #d3f4e3;
    border-left: #93a89d solid 4px;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    width: 100%;
}

.cont-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#48c379;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 75%;
    color: #f1f9f5;
    border: rgb(170, 170, 170) solid 1px;
    box-shadow: 7px 8px 7px 0px rgba(194,194,194,1);
}

.footer button{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #c7e0d3;
    border: none;
    border-radius: 20px;
    margin: 10px;
}

.footer button p {
    color: white;
    font-size: x-large;

}

.footer button a {
    color: #48c379;
    text-decoration: none;
    font-size: x-large;
    margin-left: 10px;
}
